{% extends "common/base.html" %}
{% block title %}
   批量添加主机 | OpsAdmin
{% endblock %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
          <ol class="breadcrumb">
               <li><a href="/">仪表盘</a></li>
               <li><a>资产管理</a></li>
               <li><a>批量添加主机</a></li>
        </ol>
      </div>
      <div class="col-lg-2">
   </div>
</div>

<style>
    .file-box{ position:relative;width:340px}
    .txt{ height:22px; border:1px solid #cdcdcd; width:180px;}
    .file{ position:absolute; top:0; right:80px; height:24px; filter:alpha(opacity:0);opacity: 0;width:260px }
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div id="ibox-content" class="ibox-title">
                    <h5>批量添加主机</h5>
                </div>

                <div class="ibox-content">
                    <div class="panel blank-panel">
                        <div class="panel-body">
                            <div id="tab-2" class="ibox float-e-margins tab-pane active">
                                {% if err %}
                                    <div class="alert alert-warning text-center">{{ err }}</div>
                                {% endif %}
                                {% if msg %}
                                    <div class="alert alert-success text-center">{{ msg }}</div>
                                {% endif %}
                                <p>请下载Excel文件, 按照格式填写主机信息, 上传导入.
				<a href="/static/template/asset_template.xlsx">点击下载模板</a>
				</p>
				<p style="color:red;">注意:主机类型(1;虚拟机,2;物理机,3;容器)</p>
                                <form action="" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
                                    <div class="file-box">
                                        <input id='textfield' />
                                        <input type="button" class="btn btn-info btn-sm" name="file_name" value="点击选择文件">
                                        <input type="file" name="file_name" class="file" id="fileField" size="28" onchange="document.getElementById('textfield').value=this.value" />
                                        <button class="btn btn-primary btn-sm" type="submit">导入文件</button>
                                    </div>
                                </form>
                            </div>
                        </div>
			          <div style="text-align:center;line-height:30px;"> 
			          <a href="{% url 'alist' %}" class="btn btn-warning" type="submit">返回列表</a>
				  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
