{% extends "common/login_css.html" %}
{% block title %}
   登陆 | OpsAmin
{% endblock %}
{% block content %}
<body id="login_bg">
	<div class="login_wrapper">
		<div class="login_header">
        </div>
             <div class="login_box">
	     <form id="loginForm" role="form" action={% url "loginurl" %} method="POST" >
	     {% csrf_token %}
            	{% for item in form %}
                  <div class="form-group">
                 	<label class="control-label col-md-2 col-sm-4">{{item.label}}</label>
                    	<div class="col-md-2 col-sm-4">{{item}}</div>
			{{item.errors}} {{error_msg}}
                  </div>
 		{% endfor %}
		<div class="form-group">
                <div class="col-md-offset-2 col-sm-offset-4 col-md-10 col-sm-8">
                    <input type="hidden" name="next" value="{{ next }}" />
                    <button type="submit" class="submitLogin">登 录</button>
                </div>
        </div>
        </form>
            <div class="login_right">
                <h4 style="text-align:center">后台管理平台</h4>
		<hr/>
            </div>          
</div>
</body>
{% endblock %}
