{% extends "common/base.html" %}
{% block title %}
    没有权限
{% endblock %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
          <ol class="breadcrumb">
               <li>
                 <a href="/">仪表盘</a>
               </li>
        </ol>
      </div>
      <div class="col-lg-2">
   </div>
</div>
<!-- ############################################################################################# -->
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
              <div class="alert alert-warning text-center">很悲催的通知你，你没有权限，请联系admin@yunhostnet.com。</div>
        </div>
    </div>
</div>
</div>
{% endblock %}
