{% extends "common/base.html" %}
{% block title %}
    添加用户 | OpsAdmin
{% endblock %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
          <ol class="breadcrumb">
               <li><a href="/">仪表盘</a></li>
               <li><a>用户管理</a></li>
               <li><a>添加用户</a></li>
        </ol>
      </div>
      <div class="col-lg-2">
   </div>
</div>
<!-- ############################################################################################# -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加用户</h5>
                 </div>
                 
    <div class="ibox-content">            
    <hr/>
    <form class="form-horizontal" role="form" action={% url "adduserurl" %} method="POST" >
    {% csrf_token %}
        {% for item in form %}
            <div class="form-group">
                <label class="control-label col-md-1">{{item.label}}</label>
                <div class="col-md-3">
                    {{item}}
                </div>
                <div class="col-md-offset-1 col-md-10">
                    {{item.errors}}
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <button type="submit" class="btn btn-danger btn-sm">提 交</button>
		<a href="{% url 'listuserurl' %}" class="btn btn-warning" type="submit">返回</a>
            </div>
        </div>
    </form>
        </div> 
      </div>
     </div>
    </div>
</div>
{% endblock %}
